{% block fyrst_order_attributes_list %}
    <sw-page class="fyrst-order-attributes-list">
        {% block fyrst_order_attributes_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="fyrst_order_line_item_attribute"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}

        {% block fyrst_order_attributes_list_smart_bar_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('fyrst-order-attributes.list.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block fyrst_order_attributes_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button
                    :router-link="{ name: 'fyrst.order.attributes.create' }"
                    variant="primary"
                >
                    {{ $tc('fyrst-order-attributes.list.buttonAdd') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block fyrst_order_attributes_list_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    @on-change="onChangeLanguage"
                />
            </template>
        {% endblock %}

        {% block fyrst_order_attributes_list_content %}
            <template #content>
                <sw-entity-listing
                    ref="entityListing"
                    :items="attributes"
                    :columns="columns"
                    :repository="attributeRepository"
                    :allow-inline-edit="true"
                    :allow-edit="true"
                    :allow-delete="true"
                    :show-selection="false"
                    :is-loading="isLoading"
                    :sort-by="sortBy"
                    :sort-direction="sortDirection"
                    @column-sort="onSortColumn"
                    @inline-edit-save="onInlineEditSave"
                    @delete-item="onDelete"
                    @page-change="onPageChange"
                    @items-per-page-change="onItemsPerPageChange"
                >
                    {% block fyrst_order_attributes_list_grid_columns %}
                        {% block fyrst_order_attributes_list_grid_column_label %}
                            <template #column-label="{ item }">
                                {{ item.translated.label || '-' }}
                            </template>
                        {% endblock %}
                    {% endblock %}

                    {% block fyrst_order_attributes_list_grid_actions %}
                        <template #more-actions="{ item }">
                            <sw-context-menu-item
                                class="sw-entity-listing__context-menu-edit-action"
                                :router-link="{ name: 'fyrst.order.attributes.detail', params: { id: item.id } }"
                            >
                                {{ $tc('fyrst-order-attributes.list.contextMenuEdit') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                variant="danger"
                                @click="onDelete(item.id)"
                            >
                                {{ $tc('fyrst-order-attributes.list.contextMenuDelete') }}
                            </sw-context-menu-item>
                        </template>
                    {% endblock %}

                    {% block fyrst_order_attributes_list_grid_delete_confirm %}
                        <template #delete-modal="{ item }">
                            <sw-modal
                                variant="small"
                                :title="$tc('fyrst-order-attributes.list.deleteConfirmTitle')"
                                @modal-close="$refs.entityListing.closeModal"
                            >
                                <p class="fyrst-order-attributes-list__confirm-delete-text">
                                    {{ $tc('fyrst-order-attributes.list.deleteConfirmMessage', 0, { name: item.key }) }}
                                </p>

                                <template #modal-footer>
                                    <sw-button
                                        size="small"
                                        @click="$refs.entityListing.closeModal"
                                    >
                                        {{ $tc('global.default.cancel') }}
                                    </sw-button>

                                    <sw-button
                                        variant="danger"
                                        size="small"
                                        @click="onDelete(item.id)"
                                    >
                                        {{ $tc('global.default.delete') }}
                                    </sw-button>
                                </template>
                            </sw-modal>
                        </template>
                    {% endblock %}
                </sw-entity-listing>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
