{% block sw_order_line_items_grid_column_payload_options %}
    <mt-icon
        v-if="hasItemCustomFields(item)"
        name="regular-bars-square"
        :size="14"
        :style="{
            cursor: 'pointer',
        }"
        v-tooltip="{
            message: $tc('fyrstOrderAttributes.override.tooltipCustomFields')
        }" 
        @click="showCustomFields(item, itemIndex)" />
    {% parent %}
{% endblock %}

{% block sw_order_line_items_grid_grid_actions_extension %}
    {% parent %}

    {% block fy_order_line_items_grid_grid_actions_extension_custom_fields %}
        <sw-context-menu-item
            v-if="hasItemCustomFields(item)"
            @click="showCustomFields(item, itemIndex)">
            {{ $tc('fyrstOrderAttributes.override.contextMenuShowCustomFields') }}
        </sw-context-menu-item>
    {% endblock %}
{% endblock %}

{% block sw_order_line_items_grid_grid_actions_modals_items %}
    {% parent %}

    {% block fy_order_line_items_grid_grid_actions_modals_items_custom_fields %}
        <sw-modal
            v-if="showCustomFieldModal === item.id"
            :title="$tc('fyrstOrderAttributes.override.modalTitleCustomAttributes')"
            variant="small"
            @modal-close="closeCustomFieldsModal"
        >
            <table
                class="fy-order-line-item-custom-field-table"
                v-if="item.customFields && Object.keys(item.customFields).length > 0">
                <thead>
                    <tr>
                        <td width="150px">{{ $tc('fyrstOrderAttributes.override.tableHeaderName') }}</td>
                        <td width="auto">{{ $tc('fyrstOrderAttributes.override.tableHeaderValue') }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr                 
                        v-for="(value, key) in item.customFields" 
                        :key="key">
                        <td>{{getCustomFieldLabel(key)}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </sw-modal>
    {% endblock %}
{% endblock %}