{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product_label %}
    {{ parent() }}

    {% block component_line_item_type_product_order_attributes %}
        <div class="js-order-attributes-form-{{ lineItem.id }} order-attributes">
            {% sw_include '@Storefront/storefront/component/line-item/order-attributes-form.html.twig' %}
        </div>
    {% endblock %}
{% endblock %}